@import '../shared';

/*
==========================
SELECTED TITLES
==========================
*/

.selected-titles-container {
  margin: 0 auto;
  max-width: 1080px;
  width: 50vw;
  padding: 8px;
  border: none;
  box-shadow: $box-shadow;
  color: $dark-grey;
  &::placeholder {
    color: $grey;
  }
}

h2 {
  color: #a1a1a1;
}

.selected-titles {
  margin: 0 auto;
  max-width: 1080px;
  width: 50vw;
  padding: 8px;
  border: none;
  color: $dark-grey;
  &::placeholder {
    color: $grey;
  }
  opacity: 0;
  animation: fadeIn 1.5s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

/*
==========================
MEDIA QUERY
==========================
*/

@media (max-width: 550px) {
  #query-input {
    width: 60%;
  }
}

@media (max-width: 340px) {
  #query-input {
    width: 100%;
  }
  .query-btn {
    width: 100%;
  }
}
